body{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock-container{
    height: 100%;
    width: 100%;
}
#clock{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: white;
    font-family:monospace;
    backdrop-filter:blur(5px);
    background-color: rgba(255, 255, 255, 0.01);
}